.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .content {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;

    h1{
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      font-style: italic;
    }

    h2 {
      font-size: 2.3rem;
      color: #fff;
      font-weight: 500;
      margin-bottom: 1rem;

      span {
        color: var(--purple-600);
      }
    }

    p {
      color: #fff;
      font-family: var(--font-paragraph);
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  #skills {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    

    align-items: center;
    justify-content: center;
  }
}