.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  h1 {
    margin-bottom:0.2rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
  }

  span {
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--purple-600);
  }
}