.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

    div {
      width: auto;
      height: auto;
      margin: 0;
      display: flex;
      align-items: flex-start;

      h2 {
        color: var(--purple-600);
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      button {
        width: 12rem;
        height: 2.5rem;
        border-radius: 15px;
        font-weight: 500;
        color: #fff;
        background-color: var(--purple-600);
        border: none;
        cursor: pointer;
        transition: background-color .5s ease-out;

        &:hover {
          background-color: var(--purple-800);
        }
      }
    }
  }

  h1 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
  }

  .wave-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 12rem;

    img {
      width: 20rem;
      transition: filter .5s ease-in-out, transform .2s ease-in-out;

      &:hover {
        filter: drop-shadow(0px 0px 50px var(--purple-800));
        transform: scale(1.1);
      }
    }

    #wave {
      width: 70%;
      margin: 10rem;
      position: absolute;
      z-index: -1;
      filter: drop-shadow(-8px 0px 8px rgba(0, 0, 0, 0.1));
      animation: WaveRotate 120s linear infinite;

      @keyframes WaveRotate {
        from {
          transform: rotate(360deg);
        }
      }
    }
  }
}
