$tablet-size: 768px;
$laptop-small-size: 1024px;
$desktop-size: 1366px;

.home {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding-top: 4rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;

    h1 {
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-size: 2.6rem;
      margin: 0;
      padding: 1rem 0 0 0;
    }

    div {
      margin: 0;
      align-items: flex-start;

      h2 {
        color: var(--purple-600);
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      button {
        width: 12rem;
        height: 2.5rem;
        border-radius: 15px;
        font-weight: 500;
        color: #fff;
        background-color: var(--purple-600);
        box-shadow: 3px 5px 10px rgb(0 0 0 / 0.4);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          filter: drop-shadow(0px 0px 10px var(--purple-800));
          transform: scale(1.1);
        }
      }
    }
  }

  .wave-container {
    justify-content: center;
    overflow: hidden;

    img {
      width: 16rem;
      transition: filter 0.5s ease-in-out, transform 0.2s ease-in-out;
    }

    .wave {
      width: 300%;
      top: -4%;
      position: absolute;
      z-index: -1;
      filter: drop-shadow(-8px 0px 8px rgba(0, 0, 0, 0.1));
      animation: WaveTranslate 30s linear infinite alternate;

      @keyframes WaveTranslate {
        from {
          transform: translate(15vh, 25vw);
        }
      }
    }

    .wave-2 {
      width: 300%;
      top: -4%;
      position: absolute;
      z-index: -2;
      filter: drop-shadow(-8px 0px 8px rgba(0, 0, 0, 0.1));
      animation: WaveTranslate-2 30s linear infinite alternate-reverse;

      @keyframes WaveTranslate-2 {
        from {
          transform: translate(15vh, 25vw);
        }
      }
    }
  }

  #arrow-scroll {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 3.5rem;
    left: 60%;
    color: var(--purple-800);
    animation: arrowScroll 1s cubic-bezier(.02,.4,0,.79) infinite alternate;

    @keyframes arrowScroll {
      from {
        transform: translateY(1.5rem);
      }
    }
  }
}

@media screen and (min-width: $tablet-size) {
  .home{
    #arrow-scroll {
      left: 50%; 
    }
    .wave-container {
      .wave {
        top: -25%;
      }
      .wave-2 {
        top: -25%;
      }
    }
  }
  
}

@media screen and (min-width: $laptop-small-size) {
  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;

      h1 {
        font-size: 3rem;
      }

      div {
        width: auto;
        height: auto;
        h2 {
          font-size: 2.2rem;
        }
      }
    }

    .wave-container {
      height: 100%;
      img {
        width: 18rem;
        &:hover {
          filter: drop-shadow(0px 0px 50px var(--purple-800));
          transform: scale(1.1);
        }
      }

      .wave {
        width: 200%;
        top: -12%;
      }
      .wave-2 {
        width: 200%;
        top: -12%;
      }
    }
  }
}

@media screen and (min-width: $desktop-size) {
  .home {
    .wave-container {
      .wave {
        width: 200%;
        top: -30%;
      }
      .wave-2 {
        width: 200%;
        top: -30%;
      }
    }
  }
}
