$tablet-size: 640px;
$laptop-small-size: 1024px;
$laptop-medium-size: 1180px;
$desktop-size: 1520px;

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 2rem;
  height: max-content;

  #projects {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    row-gap: 2rem;
    column-gap: 2rem;
    align-items: flex-start;
    justify-content: start;
  }
}

@media screen and (min-width: $tablet-size) {
  .portfolio {
    #projects {
      grid-template-columns: auto auto;
      grid-auto-flow: row;
    }
  }
}

@media screen and (min-width: $laptop-small-size) {

  .portfolio {
    padding-left: 10rem;
    height: max-content;
    #projects {
      grid-template-columns: auto auto;
      grid-auto-flow: row;
    }
  }
}
@media screen and (min-width: $laptop-medium-size) {

  .portfolio {
    padding-left: 10rem;
    height: max-content;
    #projects {
      grid-template-columns: auto auto auto;
      grid-auto-flow: row;
    }
  }
}

@media screen and (min-width: $desktop-size) {
  .portfolio {
    #projects {
      grid-template-columns: auto auto auto auto;
      grid-auto-flow: row;
    }
  }
}
