$tablet-size: 640px;
$laptop-small-size: 1024px;
$laptop-medium-size: 1180px;
$desktop-size: 1520px;

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 2rem;
  height: max-content;

  .loading-message,
  .error-message {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    text-align: center;

    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .loading-message {
    background-color: rgba(100, 149, 237, 0.1);
    color: #6495ed;
  }

  .error-message {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
  }

  #projects {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    row-gap: 2rem;
    column-gap: 2rem;
    align-items: flex-start;
    justify-content: start;
  }
}

@media screen and (min-width: $tablet-size) {
  .portfolio {
    #projects {
      grid-template-columns: auto auto;
      grid-auto-flow: row;
    }
  }
}

@media screen and (min-width: $laptop-small-size) {
  .portfolio {
    padding-left: 10rem;
    height: max-content;
    #projects {
      grid-template-columns: auto auto;
      grid-auto-flow: row;
    }
  }
}
@media screen and (min-width: $laptop-medium-size) {
  .portfolio {
    padding-left: 10rem;
    height: max-content;
    #projects {
      grid-template-columns: auto auto auto;
      grid-auto-flow: row;
    }
  }
}

@media screen and (min-width: $desktop-size) {
  .portfolio {
    #projects {
      grid-template-columns: auto auto auto auto;
      grid-auto-flow: row;
    }
  }
}
